<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>留联学社</title>
    <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/Public/css/index.css" media="screen" title="no title" charset="utf-8">
   <link rel="stylesheet" href="/Public/css/index_for_handheld.css" media="handheld" title="no title" charset="utf-8">
   <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

   <!-- Bootstrap -->
   <link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

   <script data-main="/Public/js/main.js" src="/Public/js/lib/jquery.min.js"></script>
   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
     <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
   <![endif]-->
  </head>
  <body style='font-family: "Microsoft yahei" !important;  margin-left:-5%;'>
      <nav class="navbar navbar-default  navbar-fixed-top  custom-header" style="margin-left: -6%";>
        <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button  type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand custom-banner" href="/">
          <img src="/Public/images/index_logo.png" alt="" style="" />
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="custom-nav-bar-item"><a href="/">首页 <span class="sr-only">(current)</span></a></li>
          <li class="dropdown custom-nav-bar-item">
            <a href="/home/work/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">作品辅导</a>
            <ul class="dropdown-menu custom-dropdown">
              <li><a href="/home/work">线上辅导</a></li>
              <li role="separator" class="divider" style="margin: 0 !important; width: 80% !important; text-align:center; margin-left: 10% !important;"></li>
              <li><a href="/home/work">线下教学</a></li>
            </ul>
          </li>
          <li class="custom-nav-bar-long-item"><a href="/home/teacher/">师资展示</a></li>
          <li class="custom-nav-bar-long-item"><a href="#">作品展示</a></li>
          <li class="custom-nav-bar-long-item"><a href="#">干活分享</a></li>
          <li class="custom-nav-bar-long-item"><a href="#">问答专区</a></li>
          <li class="custom-nav-bar-long-item"><a href="#">精品素材</a></li>
          <li class="custom-nav-bar-item"><a href="#">帮助</a></li>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>
  <br><br><br>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript">

    $(document).ready(function(){
      function addClickToEachImage(wid){
        $("#wid"+wid).click(function(){
            $("#work_detail").modal("show");
            $.get("/admin/api/work/show", {wid: wid}, function(res){
                $("#m-cover").attr('src', "/WorkImages/"+res.cover);
                $("#m-title").html(res.title);
                $("#m-content").html(res.content);
                $("#m-author").html(res.author);
                $("#m-updatetime").html(res.updatetime);
                $("#m-thumbnail").attr("src", "/Public/thumb/"+res.thumbnail);

            });
        });

      }


      function response_deal(response){

        for(var i=0; i<response.length; i++)
        {

          var dom_begin = '<div class="ui card">';
          var dom_image = '<a class="image image-show-details" id="wid'+response[i].wid+'"><img src="/Public/thumb/'+response[i].thumbnail+'" width="200px"></a>';
          var dom_content = '<div class="content"><div class="header" style="font-size: 12px; color: rgb(0,0,0); text-align:center;">'+response[i].title+'</div>';
          var dom_descript = '<div class="descrition" style="font-size: 12px; color: rgb(136,136,136); text-align:center"><hr>'+response[i].content+'</div></div>';

          var dom_end = '</div>';
          var card = dom_begin+dom_image+dom_content+dom_descript+dom_end;

          var colunm = (i+total_card_number)%3;
          if (colunm == 0 ) {
            colunm = 3;
          }

          $("#colunm"+colunm.toString()).append(card);
          addClickToEachImage(response[i].wid);//为新加载的每个元素提供click事件


        }
        total_card_number = response.length;

      }
      $("#temp-container").hide();
      var total_card_number = 0

      $.get('/home/work/works',{page: 1}, function(response){

           response_deal(response);

      });
      var page = 1;
      $(window).scroll(function() {
            var scrollTop = $(this).scrollTop();
          　 var scrollHeight = $(document).height();
          　 var windowHeight = $(this).height();

               //$(document).scrollTop() 获取垂直滚动的距离
               //$(document).scrollLeft() 这是获取水平滚动条的距离

               if (scrollTop + windowHeight >= (scrollHeight-10)) {
                  // alert(12);
                  console.log("the bottom");
                    var addmore = '<div style="clear:both;" class="ui ico message" style="height: 100px;"><i class="notched circle loading icon" id="massageIcon"></i><div class="content">加载更多......</div></div>';
                    var nomore = '<div style="clear:both;" class="ui ico message" style="height: 100px;"><i class="notched circle loading icon" id="massageIcon"></i><div class="content">没有更多了......</div></div>';
                    page = page+1;

                     $.get('/home/work/works', {page: page}, function(response){

                        if (response.length != 0 ) {
                            $('#main-scroller').css("height", $(document).height()+200);
                            $('.ui.ico.message').remove();
                           response_deal(response);
                          $('#main-scroller').append(addmore);


                        }else {
                            $('.ui.ico.message').remove();
                            $('#main-scroller').append(nomore);
                            $(window).unbind("scroll");
                            return false;
                        }

                     });


               }
           });


    });
  </script>
   <link href="/Public/semantic/dist/semantic.min.css" rel="stylesheet">
   <div class="container"  style="height:2196px; margin-left: 33%;">
     <div class="header">
       <ol class="breadcrumb" style="background-color:rgb(255, 255, 255) !important; margin-top:14pt; margin-left:-9%;">
           <li class="active">作品展示</li>
         </ol>
     </div>
     <div class="row">
            <div class="">
              <h3  class="title-little" style="margin-top:51px; margin-left:-36%; font-size:20pt; margin-bottom:50pt;">作品展示</h3>
              <hr style="margin-top:-55px; border: rgba(96,128,137,1) 2px solid; margin-bottom: 51px; width: 95px; text-align:center; margin-left:27%;">
                <hr style="margin-left: -2%; width:70%">
            </div>
     </div>
    <div id="main-scroller" class="container"  style="height:2196px; margin-left: -9%; position:relative;  width:82%;">
          <div class="row">
                <div class="col-xs-12 col-md-4 col-sm-4" id="colunm1">
                </div>
                <div class="col-xs-12 col-md-4 col-sm-4" id="colunm2">
                </div>
                <div class="col-xs-12 col-md-4 col-sm-4" id="colunm3">
                </div>
          </div>
    </div>

   </div>
   <div class="modal fade" id="work_detail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
     <div class="modal-dialog modal-lg">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title">作品详情</h4>
         </div>
         <div class="modal-body">
          <img id="m-cover" id="" src="" alt="图片载入中" width="100%" />
          <div class="">
            <br>
            <div class="media">
            <div class="media-left">
              <a href="#">
                <img id="m-thumbnail" class="media-object" src="" alt="缩略图载入中">
              </a>
            </div>
            <div class="media-body">
              <h2 class="media-heading" id="m-title">作品名称载入中</h2>
              <p class="text-muted">作者: <span id="m-author">载入中</span> </p>
              <span class="text-muted">作品简介:</span><div class="text-muted" id="m-content">
                作品简介载入中
              </div>
            </div><br>
            <p class="text-muted">最后更新于:<span id="m-updatetime">读取中</span></p>
          </div>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          </div>
       </div>
     </div>
   </div>
  </body>
</html>
