    <div class="container-fluid" style="text-align:center !important; border-top: 3px solid rgba(140,140,140,1); ">
      <img src="/Public/images/banner1.png" alt="" height="90%" width="100%"/>
    </div>
    <div class="container" style="margin-left: 30%; width: 50%;max-width: 1200px;">
      <h3 class="title-little" style="text-align:center;">留联学社工作室</h3>
      <hr style="border:none;border-top:3pt solid rgba(70, 108, 118, 1); width: 90pt;margin-bottom:48pt;">
      <div class="row">
        <div class="col-xs-12 col-md-4 col-sm-4">
          <dl class="index_item_block">
            <dt>Linking</dt>
            <dd>连接而不仅是联合——我们不仅是联合优秀的老师，我们的目标是建立一座老师与老师，老师与学生，学生与学生相互连接的桥梁</dd>
          </dl>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-4">
          <dl class="index_item_block">
            <dt>Academicy</dt>
            <dd>学院而不仅是学术——我们不仅提供学术的教学，更提供学院的教学环境，努力创造活跃，互动，平等的课堂气氛</dd>
          </dl>
          </div>
        <div class="col-xs-12 col-md-4 col-sm-4">
          <dl class="index_item_block">
            <dt>Creation</dt>
            <dd>创新而不仅是创意——我们培养的是学生全面的能力，不仅有好的思想，更有强大的技术作为支持，真正把创意变为现实的能力</dd>
          </dl>
          </div>
      </div>
      <hr style="margin-top:40pt;margin-bottom:30pt;">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-sm-6">
          <dl class="index_item_block">
            <dt>关于我们</dt>
            <dd>LAC-留联学设专注设计前沿知识传播与分享。
                联合全球顶尖院校建筑师，设计师，学者及相关机构，搭建学术前沿与行业交流平台。
                传承学术精神、分享行业经，为学生的学术生涯与职业发展保驾护航。
                </dd>
          </dl>
        </div>
        <div class="col-xs-12 col-md-6 col-sm-6 static-bars">
          <img src="/Public/images/static_bars.png" alt="" width="100%" />
        </div>
        </div>
